{%- if distro === "alpine" %}
FROM ghcr.io/synthetixio/docker-node/{{ distro }}:{{ nodeVersion }}
{%- elif distro === "ubuntu" %}
FROM ghcr.io/synthetixio/docker-node/{{ distro }}:{{ nodeVersion }}
{%- elif distro === "debian" %}
FROM ghcr.io/synthetixio/docker-node/{{ distro }}:{{ nodeVersion }}
{%- endif %}

RUN npm install -g lockfile-lint@{{ lockfilelintVersion }} audit-ci@{{ auditCiVersion }} auditjs@{{ auditJsVersion }}

RUN curl -LO https://storage.googleapis.com/container-diff/v{{ containerDiffVersion }}/container-diff-linux-amd64 && chmod +x container-diff-linux-amd64 && mv container-diff-linux-amd64 /usr/local/bin/container-diff
